body{
    padding: 0;
    margin: 0 auto;
    background: #0a192f;
    color:#8892b0;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}
.s-nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height:  100px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: 0.25s;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
.headr{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #ccd6f6;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    counter-reset: item 0;
    z-index: 12;
}
.s-logo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}
.b-menu{
    display: none;
}
.s-logo img{
   width: 42px; 
   height: 42px;
}
.s-menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: 0.25s;
}

.res{
    color:#64ffda;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition:  0.5s 
    margin-left: 15px;
    font-size: 13px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    transition: 0.25s;
}

.res:hover{
    background-color:#16303f;
    color: #64ffda;
}
.s-menu ol{
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: 0.25s;
}
.s-menu ol li {
    padding: 10px;
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: 13px
    transition:0.5s
    
}
.s-menu a{
    text-decoration: none;
    color:#ccd6f6;
}

.s-menu ol li a:hover{
    color: #64ffda;
    cursor: pointer;
}
.content{
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 20px 150px;
}
.cent-s{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 200px 0 0 ;
}
.content  h2 {
    font-weight: 600;
    color:#ccd6f6;
    line-height: 1.1;
}

.content h1{
    margin: 0px 0px 30px 4px;
    color:#64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 16px;
    font-weight: 400;
}

.aboba{
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}
.content h3{
    margin-top: 5px;
    color: #8892b0;
    line-height: 0.9
}

.s-text p{
    margin: 20px 0px 0px;
    max-width: 840px;
    color: #8892b0;
    font-size: x-large;
}
.s-text a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: 0.5s;
    color:#64ffda;
}
.s-text a::after{
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color:#64ffda
    transition: 0.5s;
    opacity: 0.5;
}
.lkn{
    color: #64ffda; !important
    background-color: transparent;
    border: 1px solid #64ffda ;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
    display: inline-block;
    text-decoration: none;


}
.lkn:hover{
    color: #64ffda;
    background-color:#16303f;

}

.abb{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s
}
.abo{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    font-weight: 600;
    color: #ccd6f6
    line-height: 1.1;
}
.abo::before{
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 20px;
    font-weight: 400;
}
.abo::after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}

.ctnt{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: 0,5s;
    color:#64ffda;
}

p > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color:#64ffda;
    transition: 0.5s;
    opacity: 0.5;
}

.pos{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.pos li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
}
 .pos li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color:#64ffda;
    font-size: 14px;
    line-height: 12px;
 }

.phot{
    position: relative;
    max-width: 300px;
}
.wrp{
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: 0.5s;
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color:#64ffda;
}
.mgg{
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: 0.5s;
}
.wrp::after{
    border: 2px solid #64ffda;
    top: 20px;
    left: 20px;
    z-index: -1;
}
.wrp::before{
    top: 0px;
    left: 0px;
    background-color: #0a192f;
    mix-blend-mode: screen;
}
.wrp::after, .wrp::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.5s;
}
.igg{
    max-width: 500px;
    display: block;
}

.igg img{
    max-width: 100%;
    display: block;
    position: static;
    height: 100%;
    padding: 0;
    margin: 0; 
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.pctr{
    object-fit: cover;
    opacity: 1;
    margin: 0;

}
.pctr img{
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    vertical-align: middle;
}
.clr{
    background-color:rgb(100, 255, 218);
    opacity: 0.4;
}
.clr:hover{
    background-color: transparent;
}

.tet a:hover{
    color: #64ffda;

}

.jbs{
    max-width: 700px;
}
section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}
.nmb-head{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    color: #ccd6f6;
}
.nmb-head::after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}
.nmb-head::before{
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "02" ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: clamp(16px,3vw,18px);
    font-weight: 400;
}
.inner{
    display: flex;
}
.tablo{
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.tab1{
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition:0/5s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid #233554;
    background-color: transparent;
    color: #64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}
.palka{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 2px;
    height: 42px;
    border-radius: 4px;
    background: #64ffda;
}
.jbs-content{
    position: relative;
    width: 100%;
    margin-left: 20px;
}
.tb1{
    width: 100%;
    height: auto;
    padding: 10px 5px;
}
.tb1 ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.tb1 ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffda;
}
.tb1 ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 18px;
}

.tb1 h3{
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
   color:  #ccd6f6;
}
.tb1 .company{
    color: #64ffda;
}
.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    color: #64ffda;
}
.inline-link:hover{
    color: #64ffda;
}
.tb1 .range{
    margin-bottom: 25px;
    color:#a8b2d1;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
}
.hed{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
}
.hed::before{
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "03" ".";
    margin-right: 10px;
    color: #64ffda;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: clamp(16px,3vw,20px);
    font-weight: 400;
}
.hed::after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}
.bobs{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.bobs li{
    position: relative;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.lili .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}
.lili:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}
.project-overline {
    margin: 10px 0px;
    color: #64ffda;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
}

.project-title {
    color: #ccd6f6;
    font-size: clamp(24px, 5vw, 28px);
}
.project-image img{
    width:579.16px;
     height:362.39px;
}
.lili{
    position: relative;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    overflow:visible; 
    
}
.lili a{
    position: relative;
    z-index: 1;
}
.project-description {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: 0.25s;
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 3px;
    background-color: #112240;
    color: #8892b0;
    font-size: 18px;
}
.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}
.project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.lili:nth-of-type(2n+1) .project-tech-list {
    justify-content: flex-end;
}
.lili:not(:last-of-type) {
    margin-bottom: 100px;
}

    .cMhhGM {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
    .cMhhGM .projects-grid {
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;
    }
    #contact{
        max-width: 600px;
        margin: 0px auto 100px;
        text-align: center;
    }
    .cou .overline {
        display: block;
        margin-bottom: 20px;
        color: #64ffda;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        font-size: 16px;
        font-weight: 400;
    }
    .cou .overline::before {
        bottom: 0px;
        font-size: 14px;
        position: relative;
        counter-increment: section 1;
        content: "04"".";
        margin-right: 10px;
        color: #64ffda;
        font-weight: 400;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    }
    .cou .title{
         font-size: clamp(40px, 5vw, 60px);
    }
    .cou p{
        margin: 0px;
    }
    .email-link{
        color: #64ffda;
        background-color: transparent;
        border: 1px solid #64ffda;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 14px;
        font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
        margin-top: 50px;
    
    }
    .email-link:hover{
        background-color: rgba(100,255,218,0.1);
        outline: none;
        color: #64ffda;
    }




@media (max-width: 768px) {
    .s-menu{
        display: none;
    }
    .s-text p{
        max-width: 540px;
    }
    .project-image{
        padding: 20px 10px;
    }
    .project-image img{
        width: 376.16px;
        height: 265.39px;
    }
    section {
        padding: 80px 0px;
    }
    .lili.eeeRej:not(:last-of-type) {
        margin-bottom: 70px;
    }
    
    .lili {
        box-shadow: 0 10px 30px -15px #16303f;
    }
    .lili:nth-of-type(2n+1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }
    .ctnt {
        display: block;
    }
    .b-menu{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color:#64ffda 
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    }
    .l-menu{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color:#64ffda
    }
    .l-menu::before{
        width: 120%;
        top: -10px;
        opacity: 1;
        content: "";
        display: block;
         position: absolute;
        left: auto;
        right: 0px;
         height: 2px;
        border-radius: 4px;
        background-color:#64ffda;
    }
    .project-title {
        margin: 0px 0px 20px;
    }
  .inner {
    min-height: 340px;
  }
    .l-menu::after{
        width: 80%;
        bottom: -10px;
        transform: rotate(0deg);
        content: "";
        display: block;
        position: absolute;
        left: auto;
        right: 0px;
        height: 2px;
        border-radius: 4px;
        background-color: #64ffda;

    }

    .content h1{
        font-size: 14px;
    }
    
    .content{
        padding: 0px 25px;
    }
    .content h2{
        font-size: 24px;
    }
    .content h3{
        font-size: 40px;
    }
    .abo ::before{
        font-size: 20px;
    }
    .phot{
        margin: 50px auto 0px;
        width: 70%;
    }
    .s-nav{
        padding:  0 50px;
    }
    .phot{
        margin: 50px auto 0px;
        width: 70%;
    }
    .project-tech-list{
        font-size: small;
    }
    .project-description{
        font-size: 13px;
    }
}
@media (min-width: 1080px){
    .content{
        padding: 0px 100px;
    }
    .s-nav{
        padding: 0 40px;
    }

}

@media (min-width: 700px){
.jbs .inner {
    min-height: 340px;
}
}
@media (max-width: 480px){
body {
    font-size: 18px;
}
}